@model IEnumerable<HotelRoomManagementSystem.Models.HotelModelClass>

@{
    ViewBag.Title = "RemoveAdmin";
}

<h2>RemoveAdmin</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.password)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            <form method="post" action="@Url.Action("RemoveAdmin","Admin",new { Admin_ID = item.Admin_ID})">
                <input type="submit" value="Remove" class="btn btn-warning"/>
            </form>
                
        </td>
    </tr>
}

</table>

<div>
    @Html.ActionLink("Back to List", "profile")
</div>
